.button {
    padding: 0.9rem;
    margin: 0.5rem 0.5rem;
    color: #000;
    font-size: 1.1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.button-primary {
    background-color: #84d3f4;
}

.button-primary:hover {
    background-color: #66c4ea;
}

.button-secondary {
    background-color: #e76f51;
}

.button-secondary:hover {
    background-color: #d65f4f;
}

.button-remove {
    position: absolute;
    right: -2rem;
    background: rgba(0, 0, 0, 0.05);
    border: none;
    font-size: 1.1rem;
    line-height: 1;
    padding: 0.2rem;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.button-remove:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.button-full {
    width: 100%;
}
