.charts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.charts-select-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 2rem;
}

.charts-select-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.charts-select {
    width: 50%;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
}

.select-text {
    font-size: 1.2rem;
    margin-right: 1rem;
}
