.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
    height: 1rem;
    background: #84d3f4;
}
